<!DOCTYPE html>
<html>
<head>
  <title>Twitter</title>
  <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p>
  I'm in the application layout!
</p>

<%= yield %>

</body>
</html>
